.navbar-color {
    background-color:rgb(62 17 68) !important;
    
}
.navbar-expand-sm{
    padding-bottom: 0px;
    padding-top: 0px;
    color: #fff;
}
.navbar-expand-sm a{
    color: #fff;
}
.btn1 {
    width: 150px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(62 17 68);
    color: #fff;
}
.btn2{
    background-color: rgb(62 17 68);
    color: #fff;
    border: solid #9e1a9a;
    border-radius: 5px;
}
h1 {
    color: #fff !important;
}
.md-main-banner{
    margin-top: unset !important;
}
.md-main-banner h2{
    color: #464c59;
}
.md-main-banner a, .sm-main-banner a {
    color: #fff !important;
}

p{
    color:#7f5c86 !important;
}
.top-btn-1{
    width: 200px;
    margin-right: 20px;
    border: none;
    color: #fff;
    background-color: rgb(62 17 68);
}
.top-btn-2{
    color: #fff;
    border: solid #9e1a9a;
    background-color: rgb(62 17 68);
    border-radius: 5px;
}

.btn{
    margin: 0px 5px;
    border: solid 1px rgb(94, 144, 218);
    background-image: linear-gradient(90deg,rgb(214 59 158),rgb(172 59 197));
}
.btn-sp{
    background-image: linear-gradient(90deg,rgb(62 17 68),rgb(56, 13, 62)) !important ;
}
@media (max-width: 767px) {
    .join-section-empty{
        display: none;
        
    }
    .join-section-wraper{
        justify-content: center;
    }
    .join-section-banner{
        width: 99%;
    }
    .md-main-banner{
        display: none;
    }
   .btn1{
    width: unset;
   }
  

}


.md-main-banner a{
    font-weight: 700;
}





.banner-main-text-con {
    background-color:rgb(62 17 68);
}
.banner-main-text a{
    color: #fff !important;
}

.banner-main-text h1 {
    font-family: 'ui-sans-serif', 'ui-monospace';
    
}

.banner-sm-openner {
    margin: 15em 0px 0em 0px;
}

.sm-main-banner {

    background-color: black;
    background-image:


        url('/img/The-Best-Senior-Care-in-South-Carolina-and-Virginia.jpeg');
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
}

i.icon {
    margin: 10px;
}

.card h1, p {

   color: rgb(108 108 114) !important;
}

.card:hover {
    box-shadow: 0 .5rem 0rem rgba(0, 0, 0, .15) !important;
}

.benefits-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.parteners-section {
    background-color: rgb(239 232 223);
}
.parteners-section h2{
    color:rgb(48 56 70) ;
    font-weight: bolder;
    font-size: large;
}

.parteners-section li {
    list-style: none;
    margin: 5px;
    color:rgb(48 56 70) ;
    font-weight: bolder;
    font-size: large;
}
.c2{
    color: red;
}


.our-mission h1{
    color:rgb(48 56 70) !important ;
}
.our-mission p{
    color:rgb(48 56 70) !important ;
}


.join-section{
    background-image:
  linear-gradient(270deg, rgb(62 17 68), transparent ),
  url('/img/The-Best-Senior-Care-in-South-Carolina-and-Virginia.jpeg');
   height: 20em; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.join-section-wraper{
    height: 100%;
}
.join-section h1 ,.join-section p{
    color: #fff !important;
}

/* navv */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }